*.class
*.jar
*.log
*.log.*
*.log4j
*.log4j.*
*~
.#*
.lein-cljsbuild-*
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.repl
/checkouts
/classes
/lib
/target
out
pom.xml
resources/*-ensured.properties
resources/*-template.json
resources/public/js/main-dev.js
resources/public/js/main.js
